# Read about configuration, here:
# https://craftcms.com/docs/5.x/configure.html

# The application ID used to to uniquely store session and cache data, mutex locks, and more
CRAFT_APP_ID=CraftCMS--e36f83a4-61ca-44ae-ac11-5c527503a54e

# The environment Craft is currently running in (dev, staging, production, etc.)
CRAFT_ENVIRONMENT=production

# Database connection settings
CRAFT_DB_DRIVER=mysql
CRAFT_DB_SERVER=localhost
CRAFT_DB_PORT=3306
CRAFT_DB_DATABASE=semplicesoions_craft
CRAFT_DB_USER=semplicesoions_craft
CRAFT_DB_PASSWORD=SUjqPImdg0V^&U42
CRAFT_DB_SCHEMA=public
CRAFT_DB_TABLE_PREFIX=
PRIMARY_SITE_URL=https://lazio0.semplice.is
# General settings
CRAFT_SECURITY_KEY=g-0QrPNZm4JPSyM9dwKxO8-efhcj1z10
CRAFT_DEV_MODE=true
CRAFT_ALLOW_ADMIN_CHANGES=false
CRAFT_DISALLOW_ROBOTS=true
HEADLESS_MODE=true